<div class="fullPage">
  <div *ngIf="booksInCart.length == 0" id="emptyCart">
    <h1>OOOoopss...</h1>
    <p>Votre panier est vide !</p>
    <p>
      Vous n'êtes qu'à un coup de baguette<br />
      magique d'obtenir un des livres HP !
    </p>
  </div>
  <div class="cartDiv" *ngIf="booksInCart.length > 0">
    <h1 id="monPanier">Mon panier</h1>
    <div id="bookAndDeleteIcon" *ngFor="let book of booksInCart; index as i">
      <div id="bookInCart">
        <!-- book cover -->
        <div id="bookCoverDiv">
          <img id="bookCoverInCart" src="{{ book.cover }}" />
        </div>
        <!-- book title -->
        <div id="bookTitle">
          {{ book.title }}
        </div>
        <!-- Price div -->
        <div id="priceIncart">
          <div class="h33 center">{{ book.price }} €</div>
        </div>
      </div>
      <div class="center w10">
        <!-- delete icon -->
        <i
          (click)="deleteBookFromcart(i)"
          class="fas fa-trash deleteIcon pointer"
        ></i>
      </div>
    </div>
    <!-- DIV for total price after offers  -->
    <div id="promotionDiv" class="center">
      <!-- appears when all the prices are calculated  -->

      <!-- If only one book in cart  -->
      <div *ngIf="booksInCart.length === 1">
        Prix total : {{ priceOfTheOnlyBook }} €
      </div>
      <!-- If more than one book in cart  -->
      <div class="w50" *ngIf="booksInCart.length > 1 && !loadStatus">
        <div id="oldPrice">{{ oldPrice }} €</div>
        <!-- Price after application of the best offer -->
        <div class="dFlex">
          <div class="dFlex center w40">Meilleure offre :</div>
          <div id="priceAfterBestOffer">{{ priceAfterBestOffer }} €</div>
        </div>
      </div>

      <mat-card *ngIf="loadStatus">
        <mat-progress-spinner color="primary" mode="indeterminate">
        </mat-progress-spinner>
      </mat-card>
    </div>
  </div>
</div>
