<div class="booksDiv">
  <h1>Livres Henri Potier</h1>
  <!-- Search bar -->
  <input
    id="searchBar"
    (keyup)="search($event.target.value)"
    type="text"
    class="form-control"
    placeholder="Recherche ..."
  />
  <mat-card *ngIf="loadStatus">
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>

  <!-- Div of each HP book -->
  <div class="bookStyle" *ngFor="let book of books; index as i">
    <!-- Book cover to the left of its properties -->
    <img class="h100" src="{{ book.cover }}" />
    <!-- Book properties -->
    <div id="bookParams">
      <!-- Book's title -->
      <div id="bookTitle">{{ book.title }}</div>
      <!-- Book's synopsis -->
      <div id="bookSynopsis">
        <p *ngFor="let paragraph of book.synopsis">{{ paragraph }}</p>
      </div>
      <div id="bookPriceAndCart">
        <span class="price">{{ book.price }} €</span>
        <!-- Buy the book -->
        <span class="cart"
          ><i
            (click)="addToCart(book)"
            class="fas fa-shopping-cart homeShoppingCart pointer"
          ></i
        ></span>
      </div>
    </div>
  </div>
</div>
