html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  min-height: 100%;
  width: 100%;
  margin: 0;
}

#bookPriceAndCart {
  display: flex;
  background: #dcddec;
  height: 15%;
  align-items: center;
  border: 1px solid #b5acac;
}

.homeShoppingCart {
  color: darkslateblue;
}
