html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  min-height: 100%;
  width: 100%;
  margin: 0;
  background: #c0c2d659 !important;
}

#bookPriceAndCart {
  display: flex;
  background: #dcddec;
  height: 15%;
  align-items: center;
  border: 1px solid #e4b8b8de;
}

.homeShoppingCart {
  color: darkslateblue;
}
.mat-card {
  box-shadow: none !important;
  background: none !important;
  margin: 13% !important;
}
#searchBar {
  margin: 2% 0% 3%;
  width: 50%;
}
