<div class="fullPage">
  <div class="booksDiv">
    <h1>All HP books</h1>
    <!-- Div of each HP book -->
    <div class="bookStyle" *ngFor="let book of books; index as i">
      <!-- Book cover to the left of its properties -->
      <img class="h100" src="{{ book.cover }}" />
      <!-- Book properties -->
      <div id="bookParams">
        <!-- Book's title -->
        <div id="bookTitle">{{ book.title }}</div>
        <!-- Book's synopsis -->
        <div id="bookSynopsis">{{ book.synopsis }}...</div>
        <div>
          <span class="price">{{ book.price }} €</span>
          <!-- Buy the book -->
          <span class="cart"><i class="fas fa-shopping-cart"></i></span>
        </div>
      </div>
    </div>
  </div>
</div>
