@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}
.w10 {
  width: 10%;
}
.w20 {
  width: 20%;
}
.w50 {
  width: 50%;
}
.w100 {
  width: 100%;
}
.pointer {
  cursor: pointer;
}
$hp-color: rgb(88, 39, 153);
nav {
  background: $hp-color;
  color: white;
  font-family: "hp";
  position: fixed;
  width: 100%;
  top: 0;
  display: flex !important;
}
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fullPage {
  height: 100%;
  width: 100%;
}

.center {
  @include center;
}

.cartDiv {
  @include center;

  margin-top: 8%;
}
.booksDiv {
  display: flex;
  margin-top: 7%;
  flex-direction: column;
  align-items: center;
}

$bookBackground: lightgrey;
.bookStyle {
  height: 400px;
  width: 45%;
  margin-right: 50px;
  float: left;
  margin-bottom: 20px;
  display: flex;
}
@mixin h100 {
  height: 100%;
}
.h100 {
  @include h100;
}

#bookParams {
  @include h100;

  padding: 0 26px 0px 26px;
}
#bookSynopsis {
  overflow: hidden;
  height: 75%;
  text-align: justify;
  text-overflow: ellipsis;
  background: #e8e8f378;
  margin-bottom: 2%;
  border: 1px solid #b5acac;
  padding: 8px 15px;
}
#bookTitle {
  font-weight: 700;
  height: 8%;
}
.price {
  text-align: left;
  width: 50%;
  margin-left: 5%;
  font-size: 25px;
}
.cart {
  text-align: right;
  width: 50%;
  margin-right: 5%;
  font-size: 25px;
  color: $hp-color;
}
.shoppingCart {
  text-align: right;
  margin: auto 2%;
}
