@import "@angular/material/prebuilt-themes/deeppurple-amber.css";

html,
body {
  height: 100%;
}
body {
  background: #d7d8e20a !important;
}
.w10 {
  width: 10%;
}
.w20 {
  width: 20%;
}
.w40 {
  width: 40%;
}
.w50 {
  width: 50%;
}
.w100 {
  width: 100%;
}

.pointer {
  cursor: pointer;
}
$hp-color: rgb(11, 3, 20);
nav {
  background-image: linear-gradient(
    to right,
    #051937,
    rgb(73, 69, 69),
    #051937
  );
  color: white;
  font-family: "hp";
  position: fixed;
  width: 100%;
  top: 0;
  display: flex !important;
  height: 6%;
  align-items: center;
}
@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.fullPage {
  min-height: 100%;
  width: 100%;
  margin-bottom: 20px;
  @include center;
}

.center {
  @include center;
}

.cartDiv {
  @include center;
  margin-top: 8%;
  width: 100%;
}
.dFlex {
  display: flex;
}
.booksDiv {
  display: flex;
  margin-top: 7%;
  flex-direction: column;
  align-items: center;
}

$bookBackground: lightgrey;
.bookStyle {
  height: 400px;
  width: 45%;
  margin-right: 50px;
  float: left;
  margin-bottom: 4%;
  display: flex;
}
@mixin h100 {
  height: 100%;
}
.h100 {
  @include h100;
}

#bookParams {
  @include h100;

  padding: 0 26px 0px 26px;
}
#bookSynopsis {
  height: 75%;
  text-align: justify;
  background: #c1c1e878;
  margin-bottom: 2%;
  border: 1px solid #e4b8b8de;
  padding: 8px 15px;
  overflow: scroll;
}
#bookTitle {
  font-weight: 700;
  height: 8%;
}
.price {
  text-align: left;
  width: 50%;
  margin-left: 5%;
  font-size: 25px;
}
.cart {
  text-align: right;
  width: 50%;
  margin-right: 5%;
  font-size: 25px;
  color: $hp-color;
}
.shoppingCart {
  text-align: right;
  margin: auto 2%;
}
